* {
  margin: 0px;
  padding-top: 0px;
}

#main {
  background-color: rgb(111, 39, 111);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  background-color: white;
  padding: 1.2rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 2px;
  min-width: 20vw;
}

input,
p {
  min-width: 100%;
  border: none;
  outline: none;
}

select {
  border: none;
  outline: none;
  border-radius: 10px;
}

h3 {
  color: rgb(45, 45, 45);
  font-size: 1.3rem;
}

form {
  margin: 1.3rem 0rem;
}

form>p {
  font-size: 0.9rem;
}

form input {
  outline: 2px solid rgb(213, 213, 213);
  height: 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: rgb(45, 45, 45);
}

#set-value {
  margin: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#set-value img {
  width: 1.8rem;
}

#set-value>div>div {
  display: flex;
  border: 2px solid rgb(213, 213, 213);
  border-radius: 10px;
  margin: 2px 0px;
}

#set-value>div>p{
  height: 0.9rem;
  color: rgb(45, 45, 45);
}

#value{
  font-size: 1.05rem;
  color: rgb(45, 45, 45);
}

#value{
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  color: white;
  cursor: pointer;
  background-color: rgb(85, 6, 82);
}

#interchange-button{
  background: transparent;
  border: none;
  outline: none;
  margin: 0px;
  padding: 0px;
  font-size: 1.3rem;
  color: rgb(45, 45, 45);
  transition: 1s;
  cursor: pointer;
}

.rotate{
  transform: rotate(270deg);
}